@font-face {
  font-family: "xiaohang-icons"; /* Project id 3783478 */
  src: url('iconfont.woff2?t=1669272718660') format('woff2'),
       url('iconfont.woff?t=1669272718660') format('woff'),
       url('iconfont.ttf?t=1669272718660') format('truetype');
}

.xiaohang-icons {
  font-family: "xiaohang-icons" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wangyiyun-icon-shousuo2:before {
  content: "\e68d";
}

.wangyiyun-icon-shousuo1:before {
  content: "\e68f";
}

.wangyiyun-icon-yinlemusic215:before {
  content: "\e618";
}

.wangyiyun-icon-love:before {
  content: "\e66b";
}

.wangyiyun-icon-jiahao_o:before {
  content: "\eb78";
}

.wangyiyun-icon-lishishuju:before {
  content: "\e600";
}

.wangyiyun-icon-A:before {
  content: "\e6f5";
}

.wangyiyun-icon-download:before {
  content: "\e66c";
}

.wangyiyun-icon-user:before {
  content: "\e7ae";
}

.wangyiyun-icon-24gf-play:before {
  content: "\ea82";
}

.wangyiyun-icon-wangyiyunyinyuemusic1193417easyiconnet:before {
  content: "\e650";
}

.wangyiyun-icon-caozuo-bofang:before {
  content: "\e634";
}

.wangyiyun-icon-FM_weixuanze:before {
  content: "\e725";
}

.wangyiyun-icon-shiping:before {
  content: "\e616";
}

.wangyiyun-icon-People:before {
  content: "\e664";
}

.wangyiyun-icon-shengbo:before {
  content: "\e617";
}

